{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
    rel="stylesheet">

  <title>Virtual Estate</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel=" stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">


  <!-- Additional CSS Files -->
  <link rel="stylesheet" href="{% static 'css/fontawesome.css' %}">
  <link rel="stylesheet" href="{% static 'css/templatemo-digimedia-v3.css' %}">
  <link rel="stylesheet" href="{% static 'css/animated.css' %}">
  <link rel="stylesheet" href="{% static 'css/owl.css' %}">
  <!--

TemplateMo 568 DigiMedia

https://templatemo.com/tm-568-digimedia

-->
</head>

<body>

  <!-- ***** Preloader Start ***** -->
  <div id="js-preloader" class="js-preloader">
    <div class="preloader-inner">
      <span class="dot"></span>
      <div class="dots">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
  <!-- ***** Preloader End ***** -->

  <!-- ***** Header Area Start ***** -->
  <header class="header-area header-sticky wow slideInDown" data-wow-duration="0.75s" data-wow-delay="0s">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="main-nav">
            <!-- ***** Logo Start ***** -->
            <a href="{% url 'dashboard' %}" class="logo">
              <img src="{% static 'images/logo-v3.png' %}" alt="">
            </a>
            <!-- ***** Logo End ***** -->
            <!-- ***** Menu Start ***** -->

            <ul class="nav">
              <li class="scroll-to-section"><a href="{% url 'index' %}" class="active">Home</a></li>
              <li class="scroll-to-section"><a href="{% url 'index' %}">About</a></li>
              <li class="border-first-button scroll-to-section"><a href="{% url 'logout' %}">Logout</a></li>
            </ul>

            <a class='menu-trigger'>
              <span>Menu</span>
            </a>
            <!-- ***** Menu End ***** -->
          </nav>
        </div>
      </div>
    </div>
  </header>
  <!-- ***** Header Area End ***** -->

  <div class="main-banner wow fadeIn" id="top" data-wow-duration="1s" data-wow-delay="0.5s">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-6 align-self-center">
              <div class="left-content show-up header-text wow fadeInLeft" data-wow-duration="1s" data-wow-delay="1s">
                <div class="row">
                  <div class="col-lg-12">
                    <h2>Welcome {{name}},</h2>
                    {% if message %}
                    {{ message }}
                    {% endif %}.
                    <span class="author"></span>Please enter the address of a property for our analysis.</p>

                    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">



                    <form action="getlatlong" method="POST">
                      {% csrf_token %}
                      <input id="searchQueryInput" type="text" placeholder="Address" name="address">
                      <button type="submit">Submit</button>
                    </form>











                  </div>
                  <div class="col-lg-12">
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="right-content wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.5s"></div>
              <div id="map">
                {% if not address %}
                <iframe src="https://www.google.com/maps?q=New York City&z=15&output=embed" width="100%" height="350px"
                  frameborder="0" style="border:0" allowfullscreen></iframe>
                {% else %}
                <iframe src="https://www.google.com/maps?q={{address}}&z=15&output=embed" width="100%" height="350px"
                  frameborder="0" style="border:0" allowfullscreen></iframe>
                {% endif %}
              </div>
              <!-- ***** Map and Information ***** -->
              <!-- 
     The `defer` attribute causes the callback to execute after the full HTML
     document has been parsed. For non-blocking uses, avoiding race conditions,
     and consistent behavior across browsers, consider loading using Promises
     with https://www.npmjs.com/package/@googlemaps/js-api-loader.
    -->
              <!-- <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB41DRUbKWJHPxaFjMAwdrzWzbVKartNGg&callback=initAutocomplete&libraries=places&v=weekly"
      defer
    ></script> -->
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="services" class="services section">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">

          </div>
          <div class="col-lg-12">
            <div class="naccs">
              <div class="grid">
                <div class="row">
                  <div class="col-lg-12">
                    <div class="menu">
                      <div class="first-thumb active">
                        <div class="thumb">
                          <span class="icon"><img src="{% static 'images/service-icon-01.png' %}" alt=""></span>
                          Buy/Sell
                        </div>
                      </div>
                      <div>
                        <div class="thumb">
                          <span class="icon"><img src="{% static 'images/service-icon-02.png' %}" alt=""></span>
                          Volatility Indicators
                        </div>
                      </div>
                      <div>
                        <div class="thumb">
                          <span class="icon"><img src="{% static 'images/service-icon-03.png' %}" alt=""></span>
                          Investment Factors
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-12">
                    <ul class="nacc">
                      <li class="active">
                        {% if not prices %}
                        <div>
                          <div class="thumb">
                            <div class="row">
                              <div class="col-lg-6 align-self-center">
                                <div class="left-text">
                                  <h4>Machine Learning Analysis</h4>
                                  <div class="row">
                                    <div class="col-lg-6 col-sm-4">
                                      <div class="skill-item first-skill-item wow fadeIn" data-wow-duration="1s"
                                        data-wow-delay="0s">
                                        <div class="progress" data-percentage="90">
                                          <span class="progress-left">
                                            <span class="progress-bar"></span>
                                          </span>
                                          <span class="progress-right">
                                            <span class="progress-bar"></span>
                                          </span>
                                          <div class="progress-value">
                                            <div>
                                              $100<br>
                                              <span>ML Value</span>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="col-lg-4 col-sm-4">
                                      <div class="skill-item third-skill-item wow fadeIn" data-wow-duration="1s"
                                        data-wow-delay="0s">
                                        <div class="progress" data-percentage="80">
                                          <span class="progress-left">
                                            <span class="progress-bar"></span>
                                          </span>
                                          <span class="progress-right">
                                            <span class="progress-bar"></span>
                                          </span>
                                          <div class="progress-value">
                                            <div>
                                              $100<br>
                                              <span>Market Value</span>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <br>
                                  <span class="author"></span>Our cutting edge machine learning model predicts the value
                                  of a property based on property factors and compares this value to the property's
                                  current market price to find the perfect buy and sell investment opportunities!</p>
                                </div>


                              </div>
                              <div class="col-lg-6 col-sm-6">
                                <div class="right-image">
                                  <img src="{% static 'images/services-image.jpg' %}" alt="">
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        {% else %}
                        <!-- ELSE WHEN ADDRESS INPUTED-->
                        <div>
                          <div class="thumb">
                            <div class="row">
                              <div class="col-lg-6 align-self-center">
                                <div class="left-text">
                                  <h4>Machine Learning Analysis</h4>
                                  <div class="row">
                                    <div class="col-lg-6 col-sm-4">
                                      <div class="skill-item first-skill-item wow fadeIn" data-wow-duration="1s"
                                        data-wow-delay="0s">
                                        <div class="progress" data-percentage="90">
                                          <span class="progress-left">
                                            <span class="progress-bar"></span>
                                          </span>
                                          <span class="progress-right">
                                            <span class="progress-bar"></span>
                                          </span>
                                          <div class="progress-value">
                                            <div>
                                              ${{y_pred}}<br>
                                              <span>ML Value</span>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="col-lg-4 col-sm-4">
                                      <div class="skill-item third-skill-item wow fadeIn" data-wow-duration="1s"
                                        data-wow-delay="0s">
                                        <div class="progress" data-percentage="80">
                                          <span class="progress-left">
                                            <span class="progress-bar"></span>
                                          </span>
                                          <span class="progress-right">
                                            <span class="progress-bar"></span>
                                          </span>
                                          <div class="progress-value">
                                            <div>
                                              ${{price}}<br>
                                              <span>Market Value</span>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <br>
                                  <span class="author"></span>Our cutting edge machine learning model predicts the value
                                  of a property based on property factors and compares this value to the property's
                                  current market price to find the perfect buy and sell investment opportunities!</p>
                                </div>


                                <!-- <button type="button">Buy or Sell!</button> -->
                                <div class="sub-main1">
                                  {% if ratio > 1.1 %}
                                  <div class="main-button" disabled="true">
                                    <a href="#">Buy</a>
                                  </div>
                                  {% else %}
                                  <div class="main-button" disabled="true">
                                    <a href="#">Sell</a>
                                  </div>
                                  {% endif %}
                                </div>

                                <!-- <div class="main-button">
                                  <a href="">Buy/Sell</a>
                                </div> -->



                                <!-- <div class="main-button">
                                  {% if ratio > 1.1 %}
                                  <button class="main-button">Buy</button>
                                  {% else %}
                                  <button class="main-button">Sell</button>
                                  {% endif %}
                                </div> -->


                              </div>
                              <div class="col-lg-6 col-sm-6">
                                <div class="right-image">
                                  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>


                                  <canvas id="myChart" style="width:100%;max-width:600px"></canvas>
                                  <script>
                                    var yValues = {{ prices }};


                                    var xValues = [1, 2, 3, 4, 5, 6, 7, 8, 9];

                                    new Chart("myChart", {
                                      type: "line",
                                      data: {
                                        labels: xValues,
                                        datasets: [{
                                          fill: false,
                                          lineTension: 0,
                                          backgroundColor: "rgba(0,0,255,1.0)",
                                          borderColor: "rgba(0,0,255,0.1)",
                                          data: yValues
                                        }]
                                      },
                                      options: {
                                        legend: { display: false },
                                        scales: {
                                          yAxes: [{
                                            ticks: { min: 100000, max: 1000000 },
                                            scaleLabel: {
                                              display: true,
                                              labelString: "List Price History"
                                            }

                                          }],
                                          xAxes: [{
                                            display: true,
                                            scaleLabel: {
                                              display: true,
                                              labelString: 'Time Period'
                                            }
                                          }],
                                        }
                                      }
                                    });
                                  </script>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        {% endif %}
                      </li>


                      <li>
                        <div>
                          <div class="thumb">
                            <div class="row">
                              <div class="col-lg-6 align-self-center">
                                <div class="left-text">
                                  <h4>Market Volatility</h4>
                                  <span class="author"></span>The Consumer Price Index had an average change of 1.13%
                                  per quarter over the last 10 yearly quarters</p>
                                  <span class="author"></span>The Housing Affordability Index had an average change of
                                  3.69%
                                  each month over the last 12 months</p>
                                  <span class="author"></span>The interest rate had an average change of .85%
                                  per quarter over the last 10 yearly quarters</p>
                                  <span class="author"></span>For more information on these volatility factors please
                                  visit our about page!</p>
                                </div>
                                <div class="row">
                                  <div class="col-lg-4 col-sm-4">
                                    <div class="skill-item second-skill-item wow fadeIn" data-wow-duration="1s"
                                      data-wow-delay="0s">
                                      <div class="progress" data-percentage="90">
                                        <span class="progress-left">
                                          <span class="progress-bar"></span>
                                        </span>
                                        <span class="progress-right">
                                          <span class="progress-bar"></span>
                                        </span>
                                        <div class="progress-value">
                                          <div>
                                            1.55%<br>
                                            <span>Last Quarter's ΔCPI</span>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="col-lg-4 col-sm-4">
                                    <div class="skill-item second-skill-item wow fadeIn" data-wow-duration="1s"
                                      data-wow-delay="0s">
                                      <div class="progress" data-percentage="80">
                                        <span class="progress-left">
                                          <span class="progress-bar"></span>
                                        </span>
                                        <span class="progress-right">
                                          <span class="progress-bar"></span>
                                        </span>
                                        <div class="progress-value">
                                          <div>
                                            4.82%<br>
                                            <span>Last Quarter's ΔHAI</span>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="col-lg-4 col-sm-4">
                                    <div class="skill-item second-skill-item wow fadeIn" data-wow-duration="1s"
                                      data-wow-delay="0s">
                                      <div class="progress" data-percentage="80">
                                        <span class="progress-left">
                                          <span class="progress-bar"></span>
                                        </span>
                                        <span class="progress-right">
                                          <span class="progress-bar"></span>
                                        </span>
                                        <div class="progress-value">
                                          <div>
                                            37%<br>
                                            <span>Last Quarter's ΔIR</span>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="col-lg-6 align-self-center">
                                <div class="right-image">
                                  <img src="{% static 'images/services-image-02.jpg' %}" alt="">
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </li>
                      <li>


                        {% if price %}




                        <div>
                          <div class="thumb">
                            <div class="row">
                              <div class="col-lg-6 align-self-center">
                                <div class="left-text">
                                  <h4>Investment Snapshot</h4>
                                  <span class="author"></span>GRM refers to the Gross Rent Multiplier. OPR refers to the
                                  One Percent Rule. NIAF refers to the Net Income After Financing. COCR refers to the
                                  Cash On Cash Return.</p>
                                  <span class="author"></span>For more information on these investment factors please
                                  visit our about page!</p>
                                </div>
                                <div class="row">
                                  <div class="col-lg-4 col-sm-4">
                                    <div class="skill-item first-skill-item wow fadeIn" data-wow-duration="1s"
                                      data-wow-delay="0s">
                                      <div class="progress" data-percentage="90">
                                        <span class="progress-left">
                                          <span class="progress-bar"></span>
                                        </span>
                                        <span class="progress-right">
                                          <span class="progress-bar"></span>
                                        </span>
                                        <div class="progress-value">
                                          <div>
                                            {{grm}}%<br>
                                            <span>GRM</span>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="col-lg-4 col-sm-4">
                                    <div class="skill-item third-skill-item wow fadeIn" data-wow-duration="1s"
                                      data-wow-delay="0s">
                                      <div class="progress" data-percentage="80">
                                        <span class="progress-left">
                                          <span class="progress-bar"></span>
                                        </span>
                                        <span class="progress-right">
                                          <span class="progress-bar"></span>
                                        </span>
                                        <div class="progress-value">
                                          <div>
                                            {{opr}}%<br>
                                            <span>OPR</span>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="col-lg-4 col-sm-4">
                                    <div class="skill-item first-skill-item wow fadeIn" data-wow-duration="1s"
                                      data-wow-delay="0s">
                                      <div class="progress" data-percentage="80">
                                        <span class="progress-left">
                                          <span class="progress-bar"></span>
                                        </span>
                                        <span class="progress-right">
                                          <span class="progress-bar"></span>
                                        </span>
                                        <div class="progress-value">
                                          <div>
                                            {{capRate}}%<br>
                                            <span>Cap Rate</span>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="row">
                                  <div class="col-lg-6 col-sm-6">
                                    <div class="skill-item first-skill-item wow fadeIn" data-wow-duration="1s"
                                      data-wow-delay="0s">
                                      <div class="progress" data-percentage="80">
                                        <span class="progress-left">
                                          <span class="progress-bar"></span>
                                        </span>
                                        <span class="progress-right">
                                          <span class="progress-bar"></span>
                                        </span>
                                        <div class="progress-value">
                                          <div>
                                            ${{niaf}}<br>
                                            <span>NIAF</span>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="col-lg-2 col-sm-2">
                                    <div class="skill-item third-skill-item wow fadeIn" data-wow-duration="1s"
                                      data-wow-delay="0s">
                                      <div class="progress" data-percentage="80">
                                        <span class="progress-left">
                                          <span class="progress-bar"></span>
                                        </span>
                                        <span class="progress-right">
                                          <span class="progress-bar"></span>
                                        </span>
                                        <div class="progress-value">
                                          <div>
                                            {{cocr}}%<br>
                                            <span>COCR</span>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="col-lg-6 align-self-center">
                                <div class="right-image">
                                  <img src="{% static 'images/services-image-03.jpg' %}" alt="">
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        {% else %}

                        <div>
                          <div class="thumb">
                            <div class="row">
                              <div class="col-lg-6 align-self-center">
                                <div class="left-text">
                                  <h4>Investment Factors</h4>
                                  <span class="author"></span>GRM refers to the Gross Rent Multiplier. OPR refers to the
                                  One Percent Rule. NIAF refers to the Net Income After Financing. COCR refers to the
                                  Cash On Cash Return.</p>
                                  <span class="author"></span>For more information on these investment factors please
                                  visit our about page!</p>
                                </div>
                                <div class="row">
                                  <div class="col-lg-4 col-sm-4">
                                    <div class="skill-item first-skill-item wow fadeIn" data-wow-duration="1s"
                                      data-wow-delay="0s">
                                      <div class="progress" data-percentage="90">
                                        <span class="progress-left">
                                          <span class="progress-bar"></span>
                                        </span>
                                        <span class="progress-right">
                                          <span class="progress-bar"></span>
                                        </span>
                                        <div class="progress-value">
                                          <div>
                                            100%<br>
                                            <span>GRM</span>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="col-lg-4 col-sm-4">
                                    <div class="skill-item third-skill-item wow fadeIn" data-wow-duration="1s"
                                      data-wow-delay="0s">
                                      <div class="progress" data-percentage="80">
                                        <span class="progress-left">
                                          <span class="progress-bar"></span>
                                        </span>
                                        <span class="progress-right">
                                          <span class="progress-bar"></span>
                                        </span>
                                        <div class="progress-value">
                                          <div>
                                            100%<br>
                                            <span>OPR</span>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="col-lg-4 col-sm-4">
                                    <div class="skill-item first-skill-item wow fadeIn" data-wow-duration="1s"
                                      data-wow-delay="0s">
                                      <div class="progress" data-percentage="80">
                                        <span class="progress-left">
                                          <span class="progress-bar"></span>
                                        </span>
                                        <span class="progress-right">
                                          <span class="progress-bar"></span>
                                        </span>
                                        <div class="progress-value">
                                          <div>
                                            100%<br>
                                            <span>Cap Rate</span>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="row">
                                  <div class="col-lg-6 col-sm-6">
                                    <div class="skill-item third-skill-item wow fadeIn" data-wow-duration="1s"
                                      data-wow-delay="0s">
                                      <div class="progress" data-percentage="80">
                                        <span class="progress-left">
                                          <span class="progress-bar"></span>
                                        </span>
                                        <span class="progress-right">
                                          <span class="progress-bar"></span>
                                        </span>
                                        <div class="progress-value">
                                          <div>
                                            $100<br>
                                            <span>NIAF</span>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="col-lg-2 col-sm-2">
                                    <div class="skill-item first-skill-item wow fadeIn" data-wow-duration="1s"
                                      data-wow-delay="0s">
                                      <div class="progress" data-percentage="80">
                                        <span class="progress-left">
                                          <span class="progress-bar"></span>
                                        </span>
                                        <span class="progress-right">
                                          <span class="progress-bar"></span>
                                        </span>
                                        <div class="progress-value">
                                          <div>
                                            100%<br>
                                            <span>COCR</span>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="col-lg-6 align-self-center">
                                <div class="right-image">
                                  <img src="{% static 'images/services-image-03.jpg' %}" alt="">
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>




                        {% endif %}

                      </li>
                      <li>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Scripts -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/owl-carousel.js' %}"></script>
    <script src="{% static 'js/animation.js' %}"></script>
    <script src="{% static 'js/imagesloaded.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>

</body>

</html>